//colors
$color_picton_blue: rgb(86, 176, 221);
$color_mercury: rgb(231, 231, 231);
$color_mercury_1: rgb(226, 226, 226);
$color_grey: grey;
$color_black: rgb(0, 0, 0);
$color_wild_sand: rgb(245, 245, 245);
$color_white: rgb(255, 255, 255);
$color_masala: rgb(68, 68, 68);
$color_dove_gray: rgb(102, 102, 102);
$color_white_1: white;
$color_black_1: black;

//alpha colors
$alpha_color_black: rgba(0, 0, 0, 0);

//urls
$url: url(library/images/icon-fb.png);
$url_1: url(library/images/icon-li.png);
$url_2: url(library/images/footertop.png);
$url_3: url(library/images/slideshowbg.png);
$url_4: url(library/images/standardpagebg.png);
$url_5: url(library/images/menu-bg.png);
$url_6: url(library/images/subpage-titlebar.png);
$url_7: url(library/images/bottomfoot.png);
$url_8: url(library/images/BESCO_LGr1.png);

//fonts
$font-stack: Helvetica, Arial, sans-serif;
$font-stack_1: "Lato", Helvetica, Arial, sans-serif;
$font-stack_2: "Lato", Arial, Helvetica, sans-serif;
$font-stack_3: Arial, Helvetica, sans-serif;
$font-stack_4: Verdana;


@mixin mixin_1{
  line-height: 2em;
  height: 30px;
  border: 1px solid $color_dove_gray !important;
  background: $url_6 repeat-x;
}

@mixin mixin_2{
  font-family: $font-stack_2;
  text-transform: uppercase;
}

@mixin mixin_3{
  font-size: .9em;
  margin-bottom: 5px;
  line-height: 1em;
}

@mixin mixin_4{
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin mixin_5{
  width: 48%;
  margin-bottom: 10px !important;
  clear: none !important;
  margin-left: 1% !important;
}

@mixin mixin_6{
  margin-left: 10px;
  margin-right: 10px;
}

@mixin mixin_7{
  font-size: .7rem !important;
  line-height: .85rem !important;
}

@mixin mixin_8{
  max-width: 940px;
  width: 96%;
}

@mixin mixin_9{
  border: 0 solid $color_mercury_1;
  min-height: 100px;
}

@mixin padding($top:null, $bottom:null, $right:null, $left:null){
  padding-top: $top;
  padding-bottom: $bottom;
  padding-right: $right;
  padding-left: $left;
}

@mixin margin($top:null, $bottom:null, $right:null, $left:null){
  margin-top: $top;
  margin-bottom: $bottom;
  margin-right: $right;
  margin-left: $left;
}

html, div, span, p, img, ul, li, label, article, header{
  font-size: 100%;
  border-width: 0;
  vertical-align: baseline;
}

body, h1, h2{
  border-width: 0;
  vertical-align: baseline;
}

h3, footer{
  vertical-align: baseline;
}

aside, nav{
  font-size: 100%;
  vertical-align: baseline;
}

html{
  overflow-y: scroll;
}

article, aside, footer, header, nav{
  display: block;
}

ul{
  list-style: none;
}

a{
  font-size: 100%;
  vertical-align: baseline;
}

body{
  font-family: $font-stack;
  font-size: .9rem;
  line-height: 1.5rem;
}

p{
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4;
}

input{
  font: 99% sans-serif;
}

input[type="checkbox"]{
  vertical-align: bottom;
}

label{
  cursor: pointer;
}

input{
  @include mixin_4;
}

.menu > ul:after{
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
}

.clearfix{
  zoom: 1;
}

body{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1{
  font-size: 2.2rem;
  line-height: 2rem;
}

h2{
  font-size: 1.5rem;
  line-height: 1.75rem;
}

#container{
  @include mixin_4;
  @include mixin_8;
  @include margin($top:2%, $right:auto, $left:auto);
  -webkit-font-smoothing: antialiased;
}

a:visited{
  text-decoration: none;
  color: $color_picton_blue;
}

a:hover{
  text-decoration: underline;
}

a:link{
  -webkit-tap-highlight-color: $alpha_color_black;
}

#social-media{
  float: right;
  text-align: right;
}

#social-media > a{
  width: 34px;
  height: 33px;
  display: inline-block;
  text-indent: 9999px;
  vertical-align: top;
  margin-left: 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background: $color_picton_blue !important;
  overflow: hidden;
}

#social-media > a.social-fb{
  background-image: $url;
}

#social-media > a.social-li{
  background-image: $url_1;
}

header[role="banner"]{
  @include mixin_6;
}

header[role="banner"] div{
  @include mixin_4;
}

#site-heading{
  padding-top: 7px;
  width: 100%;
  float: left;
  line-height: 1rem;
}

#site-logo img{
  max-width: 100%;
}

header[role="banner"] #searchform{
  top: 9px;
  right: 10px;
  position: absolute;
  overflow: hidden;
}

.entry-title{
  font-family: $font-stack_1;
  font-weight: 400;
}

body.page .entry-title{
  font-size: 2rem;
  padding-bottom: 12px;
}

#access, div.menu{
  position: relative;
}

div.menu > ul{
  margin-right: 190px;
}

div.menu > ul > li{
  list-style-type: none;
  float: left;
}

div.menu > ul > li > a{
  display: block;
  text-decoration: none;
}

.widget_nav_menu ul > li{
  float: none;
}

nav[role="navigation"]{
  box-shadow: 0 0 5px $color_mercury;
}

nav[role="navigation"] > div.menu{
  border: 1px solid $color_mercury_1;
  border-top-width: 0;
}

nav[role="navigation"] > .menu > ul > li > a{
  @include mixin_2;
  font-size: .75rem;
  font-weight: 700;
}

nav[role="navigation"] > .menu > #menu-icon{
  @include mixin_2;
  padding: 10px 20px;
  font-size: .75rem;
  font-weight: 700;
}

nav[role="navigation"] > .menu > #menu-icon{
  display: none;
  cursor: pointer;
}

#content{
  padding-bottom: 1px;
}

#content div{
  @include mixin_4;
}

#main{
  margin-top: 1.5rem;
}

article[id*="post-"]{
  @include mixin_6;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.post_content{
  @include margin($top:30px, $bottom:30px);
  word-wrap: break-word;
  overflow: visible;
  font-size: 1rem;
}

.post_content p{
  margin-bottom: 1.5rem;
}

.post_content ul{
  @include margin($bottom:1.5rem, $top:1.5rem);
}

.post_content ul{
  @include margin($left:2.2rem, $right:2.2rem);
  list-style-position: outside;
  line-height: 1.5;
}

.post_content li{
  margin-bottom: .75rem;
}

.post_content ul > li{
  position: relative;
  list-style: none;
  padding-left: 12px;
}

.post_content ul > li:before{
  content: "•";
  left: 0;
  top: 0;
  font-size: 16px;
  position: absolute;
  font-weight: 700;
  font-family: $font-stack_3;
}

.post_content img{
  max-width: 100%;
  height: auto;
}

.widget{
  word-wrap: break-word;
}

#sidebar-home{
  @include padding($left:10px, $right:10px);
}

#sidebar-home{
  @include margin($left:-2%, $right:-2%);
}

#sidebar-home2 > .widget li{
  line-height: 1.2rem;
}

#sidebar-home2 .widget-title{
  @include mixin_2;
  @include padding($bottom:15px, $top:15px, $right:10px);
  font-weight: 900;
  line-height: 1rem;
  font-size: 1rem;
}

.post_content img{
  margin-top: .75rem;
}

.widget-area img{
  max-width: 100%;
  height: auto;
}

footer[role="contentinfo"]{
  @include mixin_2;
  @include mixin_8;
  font-size: .6rem;
  margin: -1px auto 2%;
  background: $url_2 center no-repeat;
  overflow: hidden;
  border: 0 solid $color_grey;
  font-weight: 900;
}

footer[role="contentinfo"] div{
  @include mixin_4;
}

.screen-reader-text, .assistive-text{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

#logo-list{
  @include mixin_6;
  @include mixin_9;
  @include padding($top:12px, $right:12px, $left:12px);
  margin-top: 14px;
  position: relative;
}

#the-logos{
  @include mixin_9;
  position: relative;
}

.slide-title{
  @include mixin_2;
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 1.5rem;
}

.automation{
  background: $url_3 repeat-y !important;
}

#slider{
  height: 70px !important;
  overflow: hidden;
  overflow: hidden;
  border: 0 solid $color_grey;
  position: relative;
  width: 100% !important;
}

#slider > ul{
  border: 0 solid $color_grey;
  position: relative;
  width: 100% !important;
  list-style: none;
}

#slider > ul > li{
  display: block;
  float: left;
  border: 0 solid $color_grey;
  position: relative;
  width: 100% !important;
  text-align: center;
}

a.control_prev, a.control_next{
  font-size: 1.4em;
  font-weight: bold;
  height: 15px;
  top: 40%;
  z-index: 999;
  padding: 4px 4px 6px !important;
  color: $color_picton_blue !important;
  width: 10px;
  display: block;
  text-decoration: none;
  position: absolute;
}

a.control_prev:hover, a.control_next:hover{
  opacity: 1;
  -webkit-transition: all .2s ease;
}

a.control_prev{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

a.control_next{
  right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.slider_option{
  width: 160px;
  font-size: 18px;
  margin: 10px auto;
  position: relative;
  display: none;
}

#site-logo{
  height: 84px;
}

#access{
  border-width: 0;
}

#menu-main-top-menu{
  background-image: $url_5;
  width: 100%;
}

#menu-main-top-menu a{
  padding: 5px 10px 7px !important;
}

#menu-main-top-menu a:hover{
  color: $color_picton_blue;
}

#post-2 > .entry-header{
  display: none;
}

.page-list-ext-item{
  @include mixin_5;
  float: left !important;
  margin-right: 1% !important;
}

.page-list-ext-item2{
  @include mixin_5;
  float: right !important;
}

.page-list-ext-item2 > h3{
  @include mixin_1;
  @include mixin_2;
  padding-left: 10px;
}

.page-list-ext-item > h3{
  @include mixin_1;
  @include mixin_2;
  padding-left: 10px;
}

.page-list-ext-image{
  margin-right: 2px !important;
}

.page-list-ext-image > a > img{
  margin-top: 0 !important;
  border: 1px solid $color_dove_gray;
}

#post-2{
  margin-top: -10px !important;
}

#sidebar-home2{
  min-height: 190px;
  background: $url_7 left repeat-x;
  border: 8px solid $color_white_1;
  box-shadow: none;
}

#sidebar-home2 > .widget{
  @include padding($top:1%, $right:1%, $left:3%);
  float: left;
  border: 0 solid $color_grey;
  box-shadow: none;
}

#sidebar-home2 .widget a{
  font-family: $font-stack;
}

#sidebar-home2 > .widget ul > li{
  font-size: .8rem;
  padding-top: 5px;
  font-weight: 600;
}

#sidebar-home2 .widget a:hover{
  color: $color_picton_blue;
}

#sidebar-home2 .widget-title{
  width: 100%;
  border: 0 solid $color_grey;
}

#sidebar-home2 .textwidget{
  width: 100%;
  float: left;
  border: 0 solid $color_grey;
  font-size: .75rem;
  font-family: $font-stack;
  font-weight: 600;
}

#social-media{
  @include margin($top:-22px !important, $right:24px !important);
  width: 35%;
  padding-bottom: 5px;
}

#colophon-inner{
  padding-bottom: 9px;
  overflow: hidden;
  width: 100%;
  border: 8px solid $color_white_1;
}

#footer1{
  @include mixin_3;
  @include padding($bottom:5px, $top:15px);
  @include margin($right:1%, $left:1.5%);
  width: 56.5%;
  overflow: hidden;
  float: left;
}

#footer2{
  @include mixin_3;
  @include padding($bottom:5px, $top:15px);
  @include margin($right:1.5%, $left:1%);
  width: 38.5%;
  overflow: hidden;
  float: right;
  text-align: right;
}

#auto-top-image2{
  @include margin($right:11px, $bottom:4px, $left:11px);
  width: auto;
  background: $url_8 0px 0px no-repeat;
  overflow: hidden;
  clear: both;
}

.auto-top-fill{
  width: 32.65%;
  float: left;
}

.auto-top-img{
  width: 100%;
  height: auto;
}

.auto-top-fill-1{
  width: 8.6%;
  float: left;
}

.auto-top-fill-2{
  width: 12.1%;
  float: left;
}

.auto-top-fill-3{
  width: 11.55%;
  float: left;
}

.auto-top-fill-4{
  width: 7.2%;
  float: left;
}

.auto-top-fill-5{
  width: 8.27%;
  float: left;
}

.auto-top-fill-6{
  width: 4.8%;
  float: left;
}

.auto-top-fill-7{
  width: 8.05%;
  float: left;
}

#post-32 > .entry-header{
  display: none;
}

#post-32{
  margin-top: -14px !important;
}

#bottomlogos{
  width: 72%;
  margin-top: 18px;
  overflow: hidden;
  float: right;
}

#bottomlogos > img{
  margin-left: 12px;
}

.SliderNameDescription{
  font-family: $font-stack_4;
  text-align: left;
  width: 60%;
  padding: 5px;
  overflow: hidden;
  float: right;
  font-family: $font-stack_3;
  font-style: italic;
}

.slide-title > a{
  color: $color_black_1 !important;
  text-transform: none !important;
  font-size: 1.2rem;
  font-style: italic;
}

@media only screen and (max-width: 824px){

  .automation{
	background: $url_4 repeat-y !important;
  }

  #access{
	position: relative;
  }

  nav[role="navigation"] > div.menu > ul{
	box-shadow: 1px 1px 1px $color_black;
	z-index: 9999;
	background-color: $color_wild_sand;
	position: absolute;
	word-wrap: break-word;
	overflow: visible;
	display: none;
  }

  nav[role="navigation"] > div.menu > ul > li{
	position: relative;
  }

  #site-heading h2{
	font-size: .75rem !important;
	line-height: .9rem !important;
  }

  #site-heading > div > div{
	font-size: .75em !important;
	line-height: .9rem !important;
  }

  #post-32 ul{
	@include margin($left:8px !important, $top:6px !important);
	font-size: .6rem !important;
	line-height: .8rem !important;
  }

  .SliderNameDescription{
	@include mixin_7;
  }

  .slide-title{
	@include mixin_7;
  }

  .page-list-ext-title{
	font-size: .55rem !important;
  }

  #site-heading{
	width: 100%;
	text-align: center;
	float: none;
  }

  .slide-title{
	@include mixin_2;
	color: $color_white;
	text-shadow: 1px 1px $color_wild_sand;
	margin-bottom: 7px;
	color: $color_picton_blue;
	font-weight: 900;
  }
}

@media only screen and (min-width: 824px){

  div.menu > ul{
	display: block !important;
  }
}

@media only screen and (max-width: 320px){

  .slide-title{
	font-size: .9rem;
  }
}

@media print{

  *{
	text-shadow: none !important;
	color: $color_masala !important;
  }

  a:visited{
	text-decoration: underline;
	color: $color_masala !important;
  }

  img{
	page-break-inside: avoid;
  }

  p, h2, h3{
	orphans: 3;
	widows: 3;
  }

  h2, h3{
	page-break-after: avoid;
  }
}