div#footer
{
    color: black;
}

.input-content a
{
    color: black;
}

#page h3
{
    background: #fff;
    color: #111;
}

body .extra-content:after
{
    font-size: 20px;
}

body.page .content
{
    background-color: gray;
}

[class="input-content"] a:hover
{
    border: 1px solid white;
}

.input-content [checked]
{
    background-color: gray;
}

body #page h3
{
    font-size: 14px;
}