<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

    <appender name="css.suite.console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <appender name="css.suite.file" class="org.apache.log4j.FileAppender">
        <param name="file" value="log/css_suite.log" />
        <param name="append" value="true" />
        <param name="threshold" value="" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <logger name="css.suite.logger">
        <level value="info" />
        <appender-ref ref="css.suite.console" />
        <appender-ref ref="css.suite.file" />
    </logger>

</log4j:configuration>