div#footer      /* No child-combinator */
{
    color: black;
}

.input-content a /* Yes child-combinator */
{
    color: black;
}

#page h3        /* No child-combinator, since h3 exists within another div in #page */
{
    background: #fff;
    color: #111;
}

body .extra-content:after /* Yes child-combinator */
{
    font-size: 20px;
}

body.page .content /* Yes child-combinator */
{
    background-color: gray;
}

[class="input-content"] a:hover /* Yes child-combinator */
{
    border: 1px solid white;
}

.input-content [checked] /* Yes child-combinator */
{
    background-color: gray;
}

body #page h3   /* Only child combinator between body #page */
{
    font-size: 14px;
}

.sibling-content span + a .image /* Child combinator between .sibling-content span and a .image*/
{
    color: black;
}

.sibling-content span ~ a.url .image /* Child combinator between .sibling-content span and a .image*/
{
    color: white;
}

.class1.class2.class3 img{
    color:red;
}

.class4.class5.class6 span{
    color:blue;
}